.header {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .header {
    padding: 0;
    margin-bottom: 42px;
  }
}
