.profile__name-descr {
  height: 18px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  max-width: 336px;;
  overflow: hidden;
  white-space: nowrap; 
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .profile__name-descr {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 282px;
  }
}
