.profile__text-name {
  display: flex;
  align-items: baseline;
  max-height: 39px;
  margin: 0 auto 16px;

}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .profile__text-name {
    align-items: baseline;
    margin: 0 auto;
  }
}
