.popup__close {
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  padding: 0;
  border: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .popup__close {
    width: 20px;
    height: 20px;
    object-fit: cover;
    top: -35px;
    right: 0;
  }
}
