.popup__close {
  padding: 0;
  position: absolute;
  background-color: transparent;
  border: 0;
  right: -34px;
  top: -40px;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 720px) {

  .popup__close {
    top: -30px;
    right: 0;
    width: 20px;
    height: 20px;
  }

  .popup__close>svg {

  }
}
