.profile__name {
  padding: 0;
  margin: 0;
  margin-right: 18px;
  font-family: inter, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  max-width: 294px;;
  overflow: hidden;
  white-space: nowrap; 
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-right: 10px;
    margin-bottom: 14px;
    max-width: 189px;
    margin-left: 46px;
  }
}
