.restangle__delite {
    width: 18px;
    height: 19px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-image: url(../../../images/delite.svg);
    transition: 0.3s;
}

.restangle__delite:hover {
    opacity: 0.6;
    transition: 0.3s;
}