.popup__open {
  display: block;
  font-family: Inter, sans-serif;
  position: absolute;
  width: 430px;
  height: 330px;
  top: 195px;
  left: 425px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
