.restangle {
  background-color: #ffffff;
  border-radius: 10px;
  width: 282px;
  max-height: 361px;
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .restangle {
    margin: 0 auto;
  }
}
